@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  background: linear-gradient(45deg, #26999d 20%, transparent 20%),
    linear-gradient(135deg, transparent 80%, #26999d 80%),
    radial-gradient(#26999d 20%, transparent 21%);
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 1;
}
